#playButton{
  background-color: #18ba2b;
  height: 50px;
  width: 25%;
  font-size: 30px;
  color: white;
}
#bTrans1{
  position: absolute;
  display: block;
  background-color: lightgreen;
  width: 100%;
  height: 50%;
  top: 0px;
  right: 100%;
}
#bTrans2{
  position: absolute;
  display: block;
  background-color: lightgreen;
  width: 100%;
  height: 50%;
  bottom: 0px;
  right: 100%;
}

.animate1{
  animation-name: enterBattleTrans1;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-timing-function: linear;
}
.animate2{
  animation-name: enterBattleTrans2;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-timing-function: linear;
}

#bar1{
  position: absolute;
  width: 300px;
  height: 20px;
  background-color: grey;
}

#bar2{
  position: absolute;
  width: 100%;
  height: 70%;
  background-color: green;
  bottom: 3px;
}

@keyframes enterBattleTrans2{
  0% {right: 100%}
  30% {right: 70%}
  70% {right: 30%}
  90% {right: 0%}
  100% {right: 0%}
}

@keyframes enterBattleTrans1{
  0% {left: 100%}
  30% {left: 70%}
  70% {left: 30%}
  90% {left: 0%}
  100% {left: 0%}
}
