body {
      height: 1000px;
      width: 900px;
      
      margin: 0;
      overflow: hidden;
      background: linear-gradient(to bottom, #cedce7 0%,#596a72 100%);      
      font-family: arial;
      font-size: 13px;
      font-weight: bold;
    }
    #controls-wrapper {
      position: absolute;
      z-index: 2;
      top: 0;
      width: 100%;
      padding: 10px;
    }
    #controls-wrapper > select, button {
      background-color: #000;
      color: #fff;
      border: 1px solid #545454;
    }
